{% load static %}
{% load has_group %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Homework App{% endblock %}</title>
        <link rel='icon' type="image/png" href="{% static 'hwapp/favicon.png' %}">
        <meta name='keywords' content="Homework, Task Manager, To Do">
        <meta name='description' content='Task Manager for Students'>
        <link href="{% static 'hwapp/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="page-container">
        <nav class="main-nav">
            <div class="nav-logo">
                <a href='{% url "index" %}'><img alt='HW App logo' src='/static/hwapp/hwapp logo.png' draggable='false'></a>
            </div>
            {% if user.is_authenticated %}
            <div class="nav-links">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Homework</a>
                </div>
                <!-- Homework Dropdown -->
                <div class="nav-item homework_all">
                    <a class="nav-link homework_all" href="{% url 'classes' %}">Classes</a>
                </div>
                <!-- Calendar -->
                <div class="nav-item">
                    <a class="nav-link" href='/calendar/'>Calendar</a>
                </div>
                <!--integrations-->
                <div class="nav-item integrations_all">
                    <a class="nav-link integrations_all" href="/integrations">Integrations</a>
                </div>

                {% if request.user.is_superuser %}
                <!-- Settings -->
                <div class="nav-item settings_all">
                    <a class="nav-link settings_all" href="{% url 'settings' %}">My Settings</a>
                </div>
                <!-- Collections -->
                <div class="nav-item collection_all">
                    <a class="nav-link collection_all" href="#">My Bookmarks</a>
                    <div id="collection_all_dropdown" class="collection_all dropdown_css">
                        <a href="{% url 'pastebin' %}"><div class="nav_item">
                            &nbsp Pastebin &nbsp
                        </div></a>
                        <a href="{% url 'filebin' %}"><div class="nav_item">
                            &nbsp Filebin &nbsp
                        </div></a>
                        <a href="{% url 'all_pages' %}"><div class="nav_item">
                            &nbsp Pages &nbsp
                        </div></a>
                        {% for page in request.user.bookmarks.all %}
                        <a href="/page/{{page.version_id}}"><div class="nav_item">
                            &nbsp {{page.template_name}} &nbsp
                        </div></a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Admin Tab -->
                <div class="nav-item admin_all">
                    <a class="nav-link admin_all" href='{% url "admin_dashboard" %}'>Site Management</a>
                </div>
                {% else %}
                {% if request.user|has_group:"All Admins" or request.user.is_superuser %}
                <div class="nav-item settings_all">
                    <a class="nav-link settings_all" href="{% url 'settings' %}">My Settings</a>
                </div>
                {% if request.user|has_group:"Custom Page Users" %}
                <!-- Collections -->
                <div class="nav-item collection_all">
                    <a class="nav-link collection_all" href="#">My Bookmarks</a>
                    <div id="collection_all_dropdown" class="collection_all dropdown_css">
                        <a href="{% url 'pastebin' %}" ><div class="nav_item">
                            &nbsp Pastebin &nbsp
                        </div></a>
                        <a href="{% url 'filebin' %}" ><div class="nav_item">
                            &nbsp Filebin &nbsp
                        </div></a>
                        <a href="{% url 'all_pages' %}" ><div class="nav_item">
                            &nbsp Pages &nbsp
                        </div></a>
                        {% for page in request.user.bookmarks.all %}
                        <a href="/page/{{page.version_id}}" ><div class="nav_item">
                            &nbsp {{page.template_name}} &nbsp
                        </div></a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!-- Admin Tab -->
                <div class="nav-item admin_all">
                    <a class="nav-link admin_all" href='{% url "admin_dashboard" %}'>Site Management</a>
                </div>
                {% else %}
                {% if request.user|has_group:"Custom Page Users" %}
                <!-- Collections -->
                <div class="nav-item collection_all">
                    <a class="nav-link collection_all" href="#">My Bookmarks</a>
                    <div id="collection_all_dropdown" class="collection_all dropdown_css">
                        <a href="{% url 'pastebin' %}" ><div class="nav_item">
                            &nbsp Pastebin &nbsp
                        </div></a>
                        <a href="{% url 'filebin' %}" ><div class="nav_item">
                            &nbsp Filebin &nbsp
                        </div></a>
                        <a href="{% url 'all_pages' %}" ><div class="nav_item">
                            &nbsp Pages &nbsp
                        </div></a>
                        {% for page in request.user.bookmarks.all %}
                        <a href="/page/{{page.version_id}}" ><div class="nav_item">
                            &nbsp {{page.template_name}} &nbsp
                        </div></a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!-- Settings -->
                <div class="nav-item settings_all">
                    <a class="nav-link settings_all" href="{% url 'settings' %}">My Settings</a>
                </div>
                {% endif %}
                {% endif %}

                <div class="mobile_nav">
                    <!-- from W3 Schools, sidenav for MOBILE ONLY-->
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="/">Homework</a>
                        <a href="{% url 'classes' %}">Classes</a>
                        <a href="/calendar">Calendar</a>
                        <a href="/integrations">Integrations</a>
                        <a href="{% url 'settings' %}">Settings</a>
                        {% if user.is_superuser %}
                        <a href='#' onclick='show_item("collections")'>My Collection &#9660;</a>
                        <div id='collections' style='display:none;'>
                        <ul style='list-style-type:none;'>
                            <li>
                                <a style='font-size:20px' href="{% url 'pastebin' %}">
                                    Pastebin
                                </a>
                            </li>
                            <li>
                                <a style='font-size:20px' href="{% url 'filebin' %}">
                                    Filebin
                                </a>
                            </li>
                            <li>
                                <a style='font-size:20px' href="{% url 'all_pages' %}">
                                    Pages
                                </a>
                            </li></ul>
                        </div>
                        <a href='{% url "admin_dashboard" %}'>Administration &#9660;</a>
                        {% endif %}
                    </div>

                    <span class="mobile-hamburger" onclick="openNav()">&#9776;</span>
                </div>
            </div>

            {% else %}
            <div class="nav-links">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </div>
            </div>
            {% endif %}
            
            <div class="nav-user-info">
                {% if user.is_authenticated %}
                {% else %}
                Not signed in.
                {% endif %}
            </div>
        </nav>
        <hr>
        <main>
        {% block body %}
        {% endblock %}
        </main>
    </div>
    </body>
    <footer>
        <div id="footer">
            <hr>
            <div style='text-align:center;'>
                <a href="{% url 'terms' %}">Terms and Conditions</a> | <a href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
        </div>

        <style>
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
  width: 100%;
  padding: 1rem 0;
  margin-top: auto;
}
        </style>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'hwapp/java.js' %}"></script>
        <script src="https://kit.fontawesome.com/18cbaa6db1.js" crossorigin="anonymous"></script>
        {% block footer %}{% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                elements = ['collection_all']
                for (let i = 0; i < elements.length; i++) {
                    //show menu on element hover
                    document.getElementById(elements[i]).onmouseover = () => {
                        document.getElementById(`${elements[i]}_dropdown`).style.display = "block";
                    }
                    //hide menu on mouse leaving
                    document.getElementById(elements[i]).onmouseleave = () => {
                        document.getElementById(`${elements[i]}_dropdown`).style.display = "none";
                    }
                }
            })
        </script>
    </footer>
</html>
